extends layout.pug

block title
    title The Platform

block content
    +header('/index.png', 'The Platform', 'Stream Processing and Language Platform')
    article.main
        .index
            .index__col
                h2 Overview
                ul
                    li 1 NOV 16 <a href='/kernel' class='link'> Kernel </a>
                    li 10 JAN 17 <a href='/language' class='link'> Language</a>
                    li 11 JAN 17 <a href='/intercore' class='link'> InterCore</a>
            .index__col
                h2 Documentation
                ul
                    li 4 <a href='#' class='link'> Book</a>
                    li 5 <a href='#' class='link'> Components</a>
                    li 6 <a href='#' class='link'> Applications</a>
