mixin header(title, subtitle)
    header.header
        .header__titles
            h1.header__title!= title
            h4.header__subtitle!= subtitle

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='author' content='Maxim Sokhatsky')
        meta(property='og:title' content='The Platform')
        meta(property='og:image' content='https://o83.github.io/platform.rs/index.png')
        meta(property='og:type' content='website')
        meta(property='fb:app_id' content='118554188236439')
        meta(property='og:url' content='https://o83.github.io/platform.rs' )
        meta(property='og:description' content='The Platform')
        link(rel='stylesheet' href='https://o83.github.io/platform.rs/main.css?v=4')
        block title
            title default


    body
        nav.main-nav
            h1 Stream Processing &amp; Language&nbsp;Platform
            ul
                li: a(href='https://o83.github.io/platform.rs') KERNEL
                li: a(href='https://o83.github.io/platform.rs/language') LANGUAGE
                li: a(href='https://o83.github.io/platform.rs/intercore') INTERCORE
                li: a(href='https://o83.github.io/platform.rs/book') BOOK

        block content
        footer.footer
            img.footer__logo(src='https://o83.github.io/platform.rs/stamp.svg?v=2')
            span.footer__copy 2016&mdash;2017 &copy; Tachyonic
        script(src='https://o83.github.io/platform.rs/hi.js?v=2')
