.footer {
    width: 100%;
    padding: 30px 0;
    color: #f9f9f9;
    text-align: center;
    position: relative;
    background: #7F8C8D;
    margin-top: 50px;

    &__logo {
        width: 50px;
        margin-right: 20px;
    }

    &__copy {
        font-size: 20px;
        white-space: pre;
    }
    @media(min-width: 768px) {
        &__copy {
            font-size: 24px;
        }
    }
}
