extends ../layout.pug

block title
    title Book

block content
    +header('http://platform.rs/index.png', 'The Book', 'A Guide to The Kernel Structures')
    article.main
        .types
            h1#taxonomy API
            -
                var types = {
                        'Memory': ['Pub','Sub','Cursor','Ring','Chan'],
                        'Processor': ['Task','CpsTask','Timer','Boot','Scheduler','Host','IO'],
                    }

            .type
                for v, k in types
                    ol.type__col
                        h3= k.toUpperCase()
                        for i in v
                            li: a(href='#'+i)= i.toUpperCase()


        .intro
            h2 The Book
            p.
                The Kernel is an Actor system with two main Actor types: Queues,
                represented as ring buffers of memory slices;
                and Tasks, cpu processing atomic ports. Queues could be two types: Publisher,
                who holds writer cursors; and Subscriber, who holds reader cursors.
                Tasks represented as Rust LLVM tasks and/or CPS interpreter tasks.
                There is two special tasks: InterCore task spawned at any enabled cores;
                and CPS interpreter task of The Kernel Maintanance Shell is spawned at boot core, which
                also runs Console and WebSocket system IO. During system lifetime
                different CPS and Rust tasks could be spawned.
            p.
                Besides Queues and Tasks there is also Timers and other
                system IO tasks such as Network or Files. There are other entities such as
                Cores which are binded to cpus and run the task scheduler loops.
            p.
                The entire Virtual Machine is a set of Cores.

            h2#Pub Publisher
            code.
                pub struct Publisher&lt;T> {
                    ring: Arc&lt;RingBuffer&lt;T>>,
                    next: Cell&lt;Sequence>,
                    cursors: UncheckedUnsafeArc&lt;Vec&lt;Cursor>>,
                }

            h2#Sub Subscriber
            code.
                pub struct Subscriber&lt;T> {
                    ring: Arc&lt;RingBuffer&lt;T>>,
                    token: usize,
                    next: Cell&lt;Sequence>,
                    cursors: UncheckedUnsafeArc&lt;Vec&lt;Cursor>>,
                }

            h2#Chan Channel
            p.
                The Channel represents a InterCore node component.
                With one writer cursor and multiple readers equals to number of cores.
            code.
                pub struct Channel {
                    publisher: Publisher&lt;Message>,
                    subscribers: Vec&lt;Subscriber&lt;Message>>,
                }

            h2#Host Host
            p.
                pub struct Host<'a> {
                    args: Args<'a>,
                    boot: Handle<Boot<'a>>,
                    scheds: Vec<Scheduler<'a>>,
                }

            h2#Boot Boot
            p.
                The Boot represents a type of boot core which hash several
                select poll system devices such as WebSocket, Console and
                InterCore bus selectors along with own CPS Task Reactor.
            code.
                pub struct Boot<'a> {
                    io: IO,
                    scheduler: Scheduler<'a>,
                    publisher: Publisher<Message>,
                }

            h2#Scheduler Scheduler
            code.
                pub struct Scheduler<'a> {
                    tasks: Vec<T3<Job<'a>>>,
                    ctxs: Vec<Context<'a>>,
                    bus: Option<Channel>,
                }


            h2#IO IO
            code.
                pub struct IO {
                    tokens: usize,
                    events: Events,
                    poll: Poll,
                    selectors: Vec&lt;Selector>,
                    slots: Vec&lt;usize>,
                    running: bool,
                    i: usize,
                }

            h2#Task Task
            code.
                pub trait Task&lt;'a> {
                    fn init(&'a mut self, input: Option&lt;&amp;'a str>);
                    fn exec(&'a mut self, input: Option&lt;&amp;'a str>);
                    fn finalize(&'a mut self);
                    fn poll(&'a mut self, c: Context&lt;'a>)
                                               -> PollCtx&lt;'a>, Error>;
                }

            h2#CpsTask CpsTask
            code.
                pub struct CpsTask&lt;'a> {
                    interpreter: Interpreter&lt;'a>,
                    ast: Option&lt;&amp;'a AST&lt;'a>>,
                }

